/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
    /* Core colours */
    /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
    --colour-crimson: #BB2423;
    --colour-pink:#FE4DAF;
    --colour-purple: #825CA7;
    --colour-white: #ffffff;
    --colour-yellow:#FBAF1C;
    --colour-black: #0f0f0f;
  
    /* Header configuration 
    --header-heading-colour: var(--colour-pink);
    /* Body configuration */
    --body-default-colour: var(--colour-black);
    --body-background-colour: var(--colour-white);
  }
  
  .header{
    list-style: none;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;


}

.header li:nth-child(1){
  flex-grow: 0.5;
  color:var(--colour-pink);
}
.logo-title{
  font-family: "oswald", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 26px;
  letter-spacing: 8px;
  
}

a:link{
  text-decoration: none;
  color: var(--colour-grey);
}

a:visited{
  text-decoration:none;
  color: var(--colour-pink);
}

a:hover{

  font-weight: 200;
  color: var(--colour-crimson);
}


  /*
    PAGE / BODY
  */
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--body-default-colour);
    background-color: var(--body-background-colour);
  }
  
  main {
    min-height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*
    Screen reader text utility class
  */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
